<template>
  <div class="text">
    <button v-on:click="getDeckCodeFromGame">Obtain Deck Code From Game</button>
    <label for="deck-code">Deck Code</label>
    <input type="text" ref="input">
    <button v-on:click="updateDeckCode">Analyze Deck</button>
    <p v-show="showDeck">{{ text }}</p>
  </div>
</template>

<script>

export default {
  name: 'DeckText',
  props: {
    deckCode: String
  },
  methods: {
    updateDeckCode() {
      this.$emit('updateDeskCode', this.$refs.input.value);
      if (!this.showDeck) {
        this.showDeck = true;
      }
      this.colorVals = DeckAnalysis(this.deckCode);
    },
    getDeckCodeFromGame() {
      fetch(`http://localhost:21337/static-decklist`)
      .then(res => res.json())
      .then(function(data){
        if (data.DeckCode === null) {
          this.error = true;
        }
        else {
          this.$emit('updateDeskCode', this.$refs.input.value);
          if (!this.showDeck) {
            this.showDeck = true;
          }
        }
      })
      .catch(function(err){
        console.log(err);
        this.error = true;
      });
    }
  },
  data() {
    return {
      showDeck: false,
      error: false,
      port: 21337,
      colorVals: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
*{
  margin: 0;
  padding: 0;
}

</style>
