<template>
  <div id="app">
    <!-- Design Header -->
    <header></header>
    <DeckAnalyze v-bind:deckCode="deckCode" v-on:updateDeskCode="deckCode=$event"/>
    <DeckAnalyze v-bind:deckCode="deckCode" v-on:updateDeskCode="deckCode=$event"/>
  </div>
</template>

<script>
import DeckAnalyze from './components/DeckAnalyze.vue'
import DeckTextSorter from './components/DeckTextSorter.vue'

export default {
  name: 'app',
  components: {
    DeckAnalyze,
    DeckTextSorter
  },
  data() {
    return {
      deckCode: null
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
</style>
